:root {
  --charlestonGreen: #272a31;
  --carminePink: #ec5242;
  --lightGray: #d3d3d3;
  --cultured: #f7f7f7;
  --white: #fff;
  --lato: 'Lato', sans-serif;
  --cocoGoose: 'COCOGOOSE', sans-serif;
}

/* Global */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--lato);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Utility */
.container {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.p-fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.title-bar {
  text-align: center;
  padding: 3rem 0;
  color: var(--white);
}

.title-bar h2 {
  font-weight: normal;
  padding-bottom: 1.5rem;
}

.title-bar hr {
  border-color: var(--carminePink);
  margin: auto;
  width: 4rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

@media (min-width: 769px) {
  .container {
    width: 75%;
  }
}

/* Social-bar */
@media (min-width: 769px) {
  .social-bar {
    display: block;
    background-color: var(--charlestonGreen);
    padding: .5rem 0;
  }

  .social-bar__list {
    justify-content: flex-end;
  }

  .social-bar__item a {
    color: var(--white);
    padding-left: 2rem;
  }
}

/* Header */
.header {
  background-color: rgba(39, 42, 49, .7);
  height: 100%;
  width: 80%;
  z-index: 1;
}

.header__logo {
  display: none;
}

.nav-bar hr {
  border-color: var(--lightGray);
}

.nav-bar__item {
  padding: 1.5rem 2rem;
}

.nav-bar__item a {
  color: var(--white);
}

.nav-bar__item--button {
  text-align: end;
}

.nav-bar__item--design {
  background-color: var(--carminePink);
  border: solid var(--carminePink) .5rem;
  padding: 1rem;
}

@media (min-width: 769px) {
  .header {
    max-width: 144rem;
    width: 75%;
    margin: 0 auto;
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .header__logo {
    display: block;
  }

  .nav-bar__list {
    display: flex;
    justify-content: flex-end;
    color: var(--charlestonGreen);
    width: 100%;
  }

  .nav-bar__item {
    padding: 2rem 0 2rem 6rem;
  }

  .nav-bar__item a {
    color: var(--charlestonGreen);
  }

  .nav-bar__item--button {
    display: none;
  }

  .nav-bar hr {
    display: none;
  }

  .nav-bar__item--design {
    background-color: var(--white);
    color: var(--carminePink) !important;
  }
}

/* Main */
.main {
  background-image: url(/images/main_mobile_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--cultured);
}

.main__title {
  color: var(--carminePink);
  padding: 2.5rem 0 1rem 0;
}

.main__title h1 {
  font-family: var(--cocoGoose);
}

.main__button {
  padding: 2rem 0;
}

.main__desc {
  background-color: var(--cultured);
  border: solid var(--white);
}

.main__desc p {
  padding: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: left;
}

.main__date {
  padding: 2rem 0 6rem 0;
  color: var(--charlestonGreen);
}

.main__date h2 {
  font-family: var(--cocoGoose);
  font-size: 2rem;
}

.main__date h3 {
  font-size: 2.2rem;
  font-weight: normal;
}

@media (min-width: 769px) {
  .main {
    background-image: url(/images/main_desktop_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main__title {
    padding-top: 8rem;
  }

  .main__title h1 {
    font-size: 7.2rem;
    line-height: 8rem;
  }

  .main__title h2 {
    font-size: 4.2rem;
    font-weight: normal;
  }

  .main__desc {
    max-width: 60%;
  }

  .main__desc p {
    line-height: 3rem;
    font-size: 1.8rem;
    padding: 2rem;
  }

  .main__date {
    padding: 3rem 0 12rem 0;
  }

  .main__date h2 {
    font-size: 3.6rem;
  }

  .main__date h3 {
    font-size: 2.6rem;
  }

  .main__button {
    display: none;
  }
}

/* Program */
.program {
  background-color: var(--charlestonGreen);
  background-image: url(/images/program_bg.png);
}

.program__card {
  background-color:rgba(211,211,211,.2);
  padding: 1rem 0;
  margin: 1rem 0;
}

.program__card--title {
  padding: 2.5rem 1rem;
  min-width: 8rem;
}

.program__card--title h2 {
  color: var(--carminePink);
  font-size: 1.4rem;
  text-align: left;
}

.program__card--text {
  color: var(--white);
  font-size: 1.2rem;
  text-align: left;
  padding: .5rem;
  line-height: 1.8rem;
}

.program__button {
  text-align: center;
  padding: 8rem 0;
}

.program__button--design {
  color: var(--white);
  background-color: var(--carminePink);
  font-size: 2rem;
  padding: 3rem;
}

@media (min-width: 769px) {
  .program__cont {
    display: flex;
  }

  .program__card {
    display: block;
    margin: 0 .2rem;
    padding: 2rem 1rem;
    width: 100%;
  }

  .program__card--icon {
    text-align: center;
  }

  .program__card--title {
    padding: 1rem 0;
    min-width: none;
  }

  .program__card--title h2 {
    text-align: center;
    font-size: 2.4rem;
  }

  .program__card--text {
    text-align: center;
    font-size: 1.5rem;
  }

  .program__button {
    display: none;
  }

  .program__link {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 1.8rem;
    padding: 8rem 0;
  }

  .program__link a {
    color: var(--white);
  }
}

/* Speakers */
.speakers .title-bar {
  color: var(--charlestonGreen);
}

.speakers__card {
  padding: 1rem 0;
}

.speakers__img {
  min-width: 30%;
}

.speakers__desc {
  padding-left: 2rem;
}

.speakers__desc--name h2 {
  color: var(--charlestonGreen);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.speakers__desc--pro p {
  color: var(--carminePink);
  font-style: italic;
  font-size: .95rem;
}

.speakers__desc hr {
  width: 10%;
  color: var(--lightGray);
  margin: 1rem 0;
}

.speakers__desc--data p {
  color: var(--charlestonGreen);
  font-size: .75rem;
}

.speakers__button {
  text-align: center;
  border: solid .1rem;
  border-radius: .4rem;
  border-color: var(--lightGray);
  padding: 1rem 0;
  margin: 4rem 0;
}

.active {
  display: none;
}

@media (min-width: 769px) {
  .speakers {
    padding-bottom: 6rem;
  }

  .speakers__cont {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
  }

  .speakers__desc {
    padding-top: 1.2rem;
    padding-right: 1rem;
  }

  .speakers__desc--name h2 {
    font-size: 2rem;
  }

  .speakers__desc--pro p {
    color: var(--carminePink);
    font-style: italic;
    font-size: 1.5rem;
  }

  .speakers__desc--data p {
    font-size: 1.4rem;
  }

  .speakers__button {
    display: none;
  }

  .active {
    display: flex;
  }
}

/* Partner */
.partner {
  background-color: var(--charlestonGreen);
}

.partner__brand {
  padding-bottom: 3rem;
}

.partner__group {
  text-align: center;
  padding-bottom: 1.5rem;
  justify-content: space-between;
}

.partner__group--img img {
  width: 90%;
}

@media (min-width: 769px) {
  .about__partner {
    display: none;
  }

  .partner__brand {
    display: flex;
  }
}

/* Footer */
.footer__cont {
  padding: 1rem 0;
}

.footer__img {
  padding: 2rem 0;
}

.footer__text {
  padding: 3.5rem 0 3.5rem 1rem;
}

.footer__text p {
  color: var(--charlestonGreen);
  font-size: .9rem;
}

@media (min-width: 769px) {
  .footer__text {
    display: flex;
    padding-left: 4rem;
  }

  .footer__text p {
    font-size: 1.5rem;
    padding-right: 1rem;
  }

  .af__footer {
    background-color: var(--charlestonGreen);
  }

  .af__img img {
    content: url(/images/naition_logo_bw.png);
  }

  .af__text p {
    color: var(--white);
  }
}

/* About */
.about {
  background-color: var(--cultured);
}

.about__button {
  padding: 2rem 1rem;
}

.about__title {
  color: var(--carminePink);
  padding: 2rem 0;
  text-align: center;
}

.about__title h1 {
  font-family: var(--cocoGoose);
  font-size: 2.2rem;
}

.about__desc {
  background-color: var(--white);
  border: solid var(--lightGray) .1rem;
}

.about__desc p {
  padding: 1rem;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: center;
}

.about__contact {
  font-size: 1.4rem;
  line-height: 2.5rem;
  padding: 3rem 0;
  text-align: center;
}

.about__contact--design {
  font-weight: bold;
  text-decoration: underline;
  color: var(--charlestonGreen);
}

@media (min-width: 769px) {
  .about {
    background-image: url(/images/about_desktop_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .about__button {
    display: none;
  }

  .about__title {
    padding: 6rem 0 0 0;
  }
  
  .about__title h1 {
    font-size: 5.2rem;
  }

  .about__title h2 {
    font-size: 3.2rem;
  }

  .about__line {
    display: block;
    padding: 3rem 0;
    width: 4%;
    margin: 0 auto;
  }

  .about__line hr {
    border-color: var(--carminePink);
  }

  .about__desc {
    font-size: 1.8rem;
  }

  .about__contact {
    padding-bottom: 8rem;
  }
}

/* Logo */
.logo .title-bar {
  color: var(--charlestonGreen);
}

.logo__text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

.logo__brand {
  text-align: center;
  border: solid var(--lightGray) .1rem;
  padding: 2rem 0;
  margin: 3rem 0;
}

@media (min-width: 769px) {
  .logo__text {
    font-size: 1.5rem;
  }

  .logo__brand {
    width: 40%;
    margin: 4rem auto;
  }
}

/* Line */
.line {
  background-color: var(--lightGray);
}

/* Past */
.past .title-bar{
  color: var(--charlestonGreen);
}

.past__text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

.past__conferences {
  padding: 3rem 0;
}

.past__conference {
  position: relative;
  margin: 1rem 0;
}

.past__conference--design {
  position: absolute;
  background-color: rgba(236,82,66,.7);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 31% 0;
  color: var(--white);
  line-height: 3rem;
}

.past__conference--design h2 {
  color: var();
}

@media (min-width: 769px) {
  .past__text {
    font-size: 1.5rem;
  }

  .past__conferences {
    display: flex;
  }

  .past__conference {
    min-width: 50%;
    margin: 0 1rem;
  }
}